{% if site.disqus_username %}


<style>
    .contact-txt p{color:#2a2e2e;line-height: 1.5;}
    .contact-txt p a{color:#ff0a16; text-decoration:none;}
    .contact-txt p a:hover{color:#808080;}
</style>

<section class="comments">
    <h3>{{ site.translations.text.comments | default: "How can I call you?" }}</h3>
    <div class="contact-txt"><p>If you want to contact us, please contact <a href="#">'About'</a> menu click or <a href="#">2003lsh2003@naver.com</a> on the website.</p></div>
</section>

{% endif %}
